<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input Type Submit</title>
</head>
<body>

<header>
    {{if .Method}} <p>The request method: {{.Method}}</p>{{end}}
    {{if .Submissions}} <p> <strong>variable names</strong> (identifiers) and <em>values</em> : </p>
    {{range $key, $value := .Submissions}}
    <p> <strong>{{$key}}</strong> </p>
    <ul>{{range $value}}
        <li><em>{{.}}</em></li>
        {{end}}
    </ul>
    {{end}}
    {{end}}
</header>
    
</body>
</html>